
.button {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    &.active {
        background: rgba(255, 255, 255, 0.4);
    }
}